extends ./layout
block content
  header
      .wrapper
          h1
            |  
            a(href='#') SunSurfer
          | &nbsp;&nbsp;&nbsp;&nbsp;
          nav#top-nav
            ul
              li
                a(href='#') Home
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              li
                a(href='#') About
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              li
                a(href='#') Portfolio
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              li
                a(href='#') Contact


  //- #test
  #map

   
      
      
