extends ./layout
block content
  img.logo(src='../icons/SSlogo2.png' alt="foo")
  //- header
  //-     .wrapper
  //-         //- h1  
  //-           //- a(href='#') sun surfer
  //-         img(href='../icons/SSlogo.png')
  //-         | &nbsp;&nbsp;&nbsp;&nbsp;
  //-         nav#top-nav
  //-           ul
  //-             li
  //-               a(href='#') Home
  //-             | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  //-             li
  //-               a(href='#') About
  //-             | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  //-             li
  //-               a(href='#') Portfolio
  //-             | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  //-             li
  //-               a(href='#') Contact


  //- #test
  #map

   
      
      
