 
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

 /*COLLOR FILLTERS FOR NEIGHBORHODS*/  

/*Redish 80+ */
.red {
    -webkit-filter: hue-rotate(310deg);
    z-index: -1;
}  
 /* 75 - 79 */ 
.orange {
    -webkit-filter: hue-rotate(333deg); 
     z-index: -1;
}      
/* 70 - 74*/ 
 .lightOrange{
    -webkit-filter: hue-rotate(348deg);
     z-index: -1;
 }          
 /* 66 -69*/  
 .yellow {
    -webkit-filter: hue-rotate(0deg);
     z-index: -1;
 }
 /*Lime 62-65*/
.lime{
    -webkit-filter: hue-rotate(18deg);
     z-index: -1;
}
/*Green  58-61*/
.green {
    -webkit-filter: hue-rotate(42deg);
     z-index: -1;
}
/*Teal 54-57*/ 
.teal{
  -webkit-filter: hue-rotate(80deg);
   z-index: -1;
 }
      /*Blue 50-53*/  
.blue{
  -webkit-filter: hue-rotate(123deg);
   z-index: -1;
}     
      /*Darker Blue -49 */  
.darkBlue{
  -webkit-filter: hue-rotate(161deg);
   z-index: -1;
}      




 