 
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        
      }
      #map {
        height: 100%;
        /*margin-top: 7%;*/
      }

 /*COLLOR FILLTERS FOR NEIGHBORHODS*/  

/*Redish 80+ */
.red {
    -webkit-filter: hue-rotate(310deg);
    z-index: -1;
}  
 /* 75 - 79 */ 
.orange {
    -webkit-filter: hue-rotate(333deg); 
     z-index: -1;
}      
/* 70 - 74*/ 
 .lightOrange{
    -webkit-filter: hue-rotate(348deg);
     z-index: -1;
 }          
 /* 66 -69*/  
 .yellow {
    -webkit-filter: hue-rotate(0deg);
     z-index: -1;
 }
 /*Lime 62-65*/
.lime{
    -webkit-filter: hue-rotate(18deg);
     z-index: -1;
}
/*Green  58-61*/
.green {
    -webkit-filter: hue-rotate(42deg);
     z-index: -1;
}
/*Teal 54-57*/ 
.teal{
  -webkit-filter: hue-rotate(80deg);
   z-index: -1;
 }
      /*Blue 50-53*/  
.blue{
  -webkit-filter: hue-rotate(123deg);
   z-index: -1;
}     
      /*Darker Blue -49 */  
.darkBlue{
  -webkit-filter: hue-rotate(161deg);
   z-index: -1;
}      


#test{
  opacity: .64;
      /*Lime 62-65*/
            /*-webkit-filter: hue-rotate(18deg);*/
      /*Teal 54-57*/      
            /*-webkit-filter: hue-rotate(80deg);*/
      position: absolute;
      z-index: 10;
      height: 7%;
      width: 100%;
      background-color: orange;
      /*background-color: #F0F900;*/
      /*margin-left: 40%;
      margin-top: 40%;*/

      }

header {
  height: 100px;
  background-color: #EBEBEB;
  opacity: 50%;
  /*-webkit-box-shadow: 0px 10px 26px -2px rgba(0,0,0,0.75);*/
}

main {
  min-height: 400px;
  background-color: #fff;
}

footer {
  height: 150px;
  background-color: #bdcbd9;
}

.wrapper {
  width: 97%;
  margin: auto;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}
header h1 {
  float: left;
  font-size: 40px;
  margin: 0;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}

header h1 a {
  text-decoration: none;
  color: #FE664F;
}

header h1 a:hover {
  color: #FE664F;
}


/* ----- =navigation ----- */

#top-nav {
  float: right;
  margin-top: 72px;
}

#top-nav ul {
  margin: 0;
  list-style: none;
}

#top-nav ul li {
  display: inline-block;
  margin-left: 40px;
}

#top-nav ul li a {
  font-size: 18px;
  font-family: Arial, sans-serif;
  color: #424254;
  text-decoration: none;
}

#top-nav ul li a:hover {
  color: #FE664F;
}



 