 
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
.catHead{
  opacity: 0.7;
  -webkit-filter: saturate(8);  
filter: hue-rotate(20%);

}
.narwhal {
  opacity: 0.7;
  /*background: white;*/
  /*-webkit-filter: hue-rotate(180deg);*/
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}
#legend {
        background: white;
        padding: 10px;
      }
 #test{
  opacity: .64;
      /*Yellow*/
            /*-webkit-filter: hue-rotate(deg0);*/
      /*Lime*/
            /*-webkit-filter: hue-rotate(18deg);*/
      /*Green*/
            /*-webkit-filter: hue-rotate(42deg);*/
      /*Teal*/      
            /*-webkit-filter: hue-rotate(80deg);*/
      /*Blue*/       
            /*-webkit-filter: hue-rotate(123deg);*/
       /*Darker Blue*/  
             /*-webkit-filter: hue-rotate(175deg);*/
      /*Orange*/ 
            /*-webkit-filter: hue-rotate(333deg);*/
      /*Redish      */
            /*-webkit-filter: hue-rotate(310deg);*/
      position: absolute;
      z-index: 10;
      height: 150px;
      width: 150px;
      background-color: #FFEE00;
      /*background-color: #F0F900;*/
      margin-left: 40%;
      margin-top: 40%;

      }
